@model jritchieFinancialPortal.Models.RegisterViewModel

@{
    ViewBag.Title = "Invitation canceled";
}




<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Invitee has Household</h4>

                <hr />

                <div class="row">

                    <p>
                        This person already has a Household and cannot join yours.
                    </p>

                    <hr />

                    <div class="row" style="text-align:center">
                        <a href="@Url.Action("Details", "Households", new { id = ViewBag.CurrentUserHouseholdId })"><i class="fa fa-stop-circle-o"></i><span> Cancel </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
